@import "variables";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 75rem;
  margin: 3.125rem auto;
  height:100vh;
  padding:1.25rem;
}

body{
    background-color: #1F2937;
}

p{
  font-size:1.25rem;
  color:$text-white;
  line-height: 1.5;
}

h1{
  padding-top:3.125rem;
  text-align:center;
  color: #64748B;
}

header{
  padding:0.938rem;
  color: $text-white;
  background-color:#1F2937;
  border-radius:$border-radius;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.875rem;
  @media(max-width:767px) {
    grid-template-columns: 1fr;
  }
}

.main-section{
  padding-bottom: 2.5rem;
}

@media(max-width:767px) {
  .action-icon{
    justify-self: center;
  } 
}

input[type=search]{
  background-color:transparent;
  box-sizing:border-box;
  width:100%;
  padding:0.5rem;
  display:block;
  color:$text-white;
  font-size:1.25rem;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
  border: 1px solid $border-gray-100;
  border-radius:$border-radius;
  height:3.75rem;
  &:focus{
      border: 1px solid $border-gray-100;
      outline:none; 
  }
  &:hover{
      border:1px solid $border-gray-100;
  }
}

.gitLink{
  justify-self: end;
  @media(max-width:767px) {
    justify-self: center;
  }
 }

 .gitIcon {
  width: 3.75rem;
  transition: all .3s ease-in-out;
  &:hover{
    transform: rotate(360deg) scale(1.2);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.875rem;
  margin-top:3.75rem;
  @media(max-width:767px) {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-item {
  img{
    width:100%;
  }
  &:hover{
    opacity:.75;
  }
}

button{
  padding:.625rem 1.25rem;
  font-size:.875rem;
  cursor: pointer;
  border:transparent;
  border-radius: .375rem;
}





