// Colors

// <------------Background colors--------------->
$bg-blue-700 : #1F2937;
$bg-white : #ffffff;

// <------------Text colors--------------->
$text-white : #ffffff;

// Font-size
$font-size-default : 1.25rem;
$font-size-small : 1rem;
$font-size-large : 2.5rem;

// Borders
$border-radius : .375rem;
$border-gray-100 : #D1D5DB;

//Font weight
$font-bold:600;